.job-div{
    height: 220px;
    width: 100%;
    background-color: rgb(242, 248, 251);
}
.inner-job-div{
    width: 80%;
    margin: auto;
    text-align:  center;
    padding-top: 80px;
}
.search-div{

    display:flex;
    align-items:center;
    padding: 5px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 30px;
    background-color: white;
}