/* First box in JD PAGE its the toppest part starting here */
.topestPart{
    background-color: #d4e5ff;
    height: 100px;
}
/* First box in JD PAGE its the toppest part end here */

.firstBox{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 20px 0 rgb(0 0 0 / 20%);
    background-color: #ffffff;
    margin: auto;
    text-align: start;
    border-radius: 3px;
    padding: 20px 0px 0px 30px;
    width: 70%;
    margin-top: -20px;
  }

  .secSubHead{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 20px;
}
.jobHead{
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
}
.jobd{
    font-size: 13px;
    color: #666666;
    font-weight: 400;
}
.secSubBox2{
    width: 95%;

}
.forthflexbox{
    display: flex;
    gap: 30px;
    width: 40%;
}
.finalFlex{
    display: flex;
    gap: 5px;
}
.forthBoxlast{
    text-align: end;
    color: #4a90e2;
    font-size: 14px;
    width: 95%;
    padding-bottom: 20px;
}
.flexBoxInSec{
    display: flex;
    justify-content: space-between;
}

.btn1{
    color: #ffffff;
    background-color: #4a90e2;
    padding: 10px;
    width: 50%;
    height: 60px;
    border-radius: 5px;
}
.btn2{
    background-color: #ffffff;
    color: #4a90e2;
    border: 1px solid #4a90e2;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
}

.btn1:hover{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 20px 0 rgb(0 0 0 / 20%);
}

.btn2:hover{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 20px 0 rgb(0 0 0 / 20%);
}
