.admindashboard{

    width: 100%;
    border: 1px solid red;
    height: 1000px;
    display: flex;
}

.adminsidebar{

    width: 20%;
    border: 1px solid blue;
    height: 800px;
    /* display: grid; */
    /* gap: 20px; */
}
.adminsidebar>div{
    width: 95%;
    /* border: 1px solid yellow; */
    margin: auto;
    display: grid;
    gap: 20px;
    margin-top: 20px;
}
.admindata{

    width: 80%;
    border: 2px solid green;
    height: 800px;
    display: grid;
}