.footer-div{
    height: 425px;
    width: 99%;
    margin: auto;
    border-top: 3px solid rgb(162, 219, 241);
    /* border: 2px solid; */
}
.footer-inner-div{
    width: 90%;
    margin: auto;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* border: 2px solid; */
}

.each-box{
    gap: 50px;
}
.sub-footer-div{
    height: 200px;
    width: 90%;
    margin: auto;
    border-top: 1px solid rgb(238, 230, 230);
    height: 30%;
}
.links-div{
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
}
.link-text{
    padding: 4px;
    font-weight: 500;   
}
.link-text:hover{
    color: rgb(15, 172, 234);
}

@media only screen and (max-width: 700px) {
    .footer-div{
        height: auto;
        width: auto;
        margin: 0%;
        /* max-width: 305px; */
        border-top: 3px solid rgb(162, 219, 241);
    }
    .footerinnerdiv{
        width: 100%;
        margin: auto;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        border: 2px solid red;
    }
    .sub-footer-div{
        height: 10px;
        width: 100%;
        /* margin: auto; */
        border-top: 1px solid rgb(238, 230, 230);
        height: 30%;
    }
    .each-box{
        display: flex;
        gap: 20px;
        flex-direction: column;

    }
}