.firstBox{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 20px 0 rgb(0 0 0 / 20%);
    padding: 20px 19px;
    position: absolute;
    width: 100%;
    max-width: 340px;
    margin-top: -200px;
    background: white;
    height: 70px;
}